{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
    <div id="dashboard">
        <div class="container-fluid">
            <h5>Specific List</h5>

                {{ list.id }}<br>
                {{ list.name }}<br>
          
        </div>
    </div>
{% endblock %}

