{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
    <div id="dashboard">
        <div class="container-fluid">
            <h5>List Deleted</h5>

                    Response: {{ response }}<br>
       
        </div>
    </div>
{% endblock %}

