{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
    <div id="dashboard">
        <div class="container-fluid">
            <h5>All Lists</h5>
            {% for list in lists %}
                {{ list.id }}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}

