{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
    <div id="dashboard">
        <div class="container-fluid">
            <h5>Update List</h5>

            {% if status %}
                List Updated <br>
                {{ list.name }}<br>
                {{ list.id }}
            {% else %}
                List NOT updated
            {% endif %}
       
        </div>
    </div>
{% endblock %}

