
    <div id="dashboard">
        <div class="container-fluid">
            <div class="card">
                <div class="nav navbar-nav" style="height:100px">
                        <h1>Campaign Actions</h1>
                </div>

                {{ html  }}

                <a href="{{ url('admin/mailchimp/campaigns/send-test') }}" class="btn btn-primary">Send Test</a>
                <br>

            </div>             
        </div>
    </div>
